.gallery {
  margin-top:100px;
  max-width: 1000px;
  min-width: 500px;
  height: 50vw;
  max-height: 550px;
  width:90%;
  margin-left: 5%;
  position: fixed;
}

.opacityZero {
  opacity: 0
}


.enter {
  opacity: 0;
}

.enterActive {
  animation: fade-in 750ms forwards;
}

@keyframes fade-in {
  0% {
  opacity: 0;
  }
  66% {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
}

.leave {
opacity: 1;
}

.leave.leaveActive {
  animation: fade-out 500ms forwards;
}

@keyframes fade-out {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  }
}

.box {
  width: 50%;
  padding-bottom: 50%;
  position: fixed;
  background-size:cover;
  background-repeat: no-repeat;
  opacity: 0;
}
