.game {
  display: block;
  margin-top:100px;
  max-width: 800px;
  min-width: 500px;
  height: 50vw;
  min-height: 300px;
  max-height: 550px;
  width:90%;
  margin-left: 5%;
  padding-bottom: 20px;
  overflow: hidden;
}

.opacityZero {
  opacity: 0
}

.enterActive {
  animation: fade-in-extended 1500ms forwards;
}

.enterInit {
  animation: fade-in 500ms forwards;
}

@keyframes fade-in {
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
}

@keyframes fade-in-extended {
  0% {
  opacity: 0;
  }
  67% {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
}

.leave {
opacity: 1;
}

.leave.leaveActive {
  animation: fade-out 1000ms forwards;
}

@keyframes fade-out {
  0% {
  opacity: 1;
  }
  50% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  }
}
