.twoProducts {
  position: absolute;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: white;
}

.box {
  background-repeat: no-repeat;
  background-size:70%;
  background-position: center;
  width: 50%;
  height: 100%;
  opacity: 0;
}

.boxIn {
  background-repeat: no-repeat;
  background-size:70%;
  background-position: center;
  width: 50%;
  height: 100%;
  animation: fade-in 1500ms forwards;
}

.scrollDown {
  color:rgb(55,55,55);
  font-size: 60px;
  border-radius: 80px;
  position:absolute;
  margin-top: 75vh;
  z-index: 10;
}

.scrollDown:hover {
  color:rgb(155,155,155);
}

.versus {
  background-color: rgb(55,55,55);
  color:white;
  font-size: 60px;
  border-radius: 80px;
  position:absolute;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-top: 40vh;
  font-family: "stereofidelic";
  z-index: 10;
}

.opacityZero {
  opacity: 0;
  pointer-events: none;
}

@keyframes fade-in {
  0% {
  opacity: 0;
  }
  67% {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
}
