.container {
  position: fixed;
  width: 100%;
  min-height: 80px;
  top:0px;
  background-color: green;
  opacity: 0.8!important;
  z-index: 2;
  padding-bottom: 10px;
  -webkit-box-shadow: 0 4px 2px -2px gray;
  -moz-box-shadow: 0 4px 2px -2px gray;
  box-shadow: 0 4px 2px -2px gray;
}

.title {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-top:20px;
  margin-left: 30%;
}
