.heart {
text-align: center;
font-size: 70px;
color:limegreen;
margin-left: 40%;
margin-top: 40%;
animation: heartbeat 1000ms forwards;
}

@keyframes heartbeat
{
  0% {
    opacity: 0;
    transform: scale(2.5 );
  }
  70% {
    opacity: 1;
    transform: scale( 3 );
  }
  100% {
    opacity: 1;
    transform: scale( 3 );
  }
}

.boximage {
  margin-top: 20px;
  height:30vw;
  min-height: 200px;
  min-width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.noClicks {
  pointer-events: none;
}

.bottom {
  position: relative;
  bottom:-10px;
}

.btntainer {
  height:50px;
  width:100%;
}

.fifty {
  width:50%;
  height:50px;
  font-size: 25px;
}
